# Gruplama İşlemleri

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'veri': [10,11,52,23,43,55]
}, columns=['gruplar', 'veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [3]:
df.groupby('gruplar')

In [4]:
df.groupby('gruplar').mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [5]:
df.groupby('gruplar').sum()

         veri
gruplar
A          33
B          54
C         107

In [6]:
df.groupby('gruplar').std()

              veri
gruplar
A         9.192388
B        22.627417
C         2.121320

In [7]:
df.groupby('gruplar').size()

gruplar
A    2
B    2
C    2
dtype: int64

In [8]:
df.groupby('gruplar').max()

         veri
gruplar
A          23
B          43
C          55

In [9]:
df.groupby('gruplar').min()

         veri
gruplar
A          10
B          11
C          52

In [10]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [11]:
df.groupby('method')

In [12]:
df.groupby('method')['orbital_period'].sum()

method
Astrometry                       1.262360e+03
Eclipse Timing Variations        4.276480e+04
Imaging                          1.418973e+06
Microlensing                     2.207500e+04
Orbital Brightness Modulation    2.127920e+00
Pulsar Timing                    3.671511e+04
Pulsation Timing Variations      1.170000e+03
Radial Velocity                  4.553151e+05
Transit                          8.377523e+03
Transit Timing Variations        2.393505e+02
Name: orbital_period, dtype: float64

In [13]:
df.groupby('method')['year'].mean()

method
Astrometry                       2011.500000
Eclipse Timing Variations        2010.000000
Imaging                          2009.131579
Microlensing                     2009.782609
Orbital Brightness Modulation    2011.666667
Pulsar Timing                    1998.400000
Pulsation Timing Variations      2007.000000
Radial Velocity                  2007.518987
Transit                          2011.236776
Transit Timing Variations        2012.500000
Name: year, dtype: float64

In [14]:
df.groupby('method')['orbital_period'].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [15]:
df.groupby('method')['orbital_period'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [16]:
df.groupby('method')['orbital_period'].describe().T

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
count,2.000000,9.000000,12.000000,7.000000,3.000000,5.000000,1.0,553.00000,397.000000,3.000000
mean,631.180000,4751.644444,118247.737500,3153.571429,0.709307,7343.021201,1170.0,823.35468,21.102073,79.783500
std,544.217663,2499.130945,213978.177277,1113.166333,0.725493,16313.265573,NaN,1454.92621,46.185893,71.599884
min,246.360000,1916.250000,4639.150000,1825.000000,0.240104,0.090706,1170.0,0.73654,0.355000,22.339500
25%,438.770000,2900.000000,8343.900000,2375.000000,0.291496,25.262000,1170.0,38.02100,3.160630,39.675250
50%,631.180000,4343.500000,27500.000000,3300.000000,0.342887,66.541900,1170.0,360.20000,5.714932,57.011000
75%,823.590000,5767.000000,94250.000000,3550.000000,0.943908,98.211400,1170.0,982.00000,16.145700,108.505500
max,1016.000000,10220.000000,730000.000000,5100.000000,1.544929,36525.000000,1170.0,17337.50000,331.600590,160.000000

In [17]:
df.groupby('method').describe()

                              number                                           \
                               count      mean       std  min  25%  50%   75%
method
Astrometry                       2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
Eclipse Timing Variations        9.0  1.666667  0.500000  1.0  1.0  2.0  2.00
Imaging                         38.0  1.315789  0.933035  1.0  1.0  1.0  1.00
Microlensing                    23.0  1.173913  0.387553  1.0  1.0  1.0  1.00
Orbital Brightness Modulation    3.0  1.666667  0.577350  1.0  1.5  2.0  2.00
Pulsar Timing                    5.0  2.200000  1.095445  1.0  1.0  3.0  3.00
Pulsation Timing Variations      1.0  1.000000       NaN  1.0  1.0  1.0  1.00
Radial Velocity                553.0  1.721519  1.157141  1.0  1.0  1.0  2.00
Transit                        397.0  1.954660  1.399119  1.0  1.0  1.0  2.00
Transit Timing Variations        4.0  2.250000  0.500000  2.0  2.0  2.0  2.25

                                   orbital_period                 ...  \
                               max          count           mean  ...
method                                                            ...
Astrometry                     1.0            2.0     631.180000  ...
Eclipse Timing Variations      2.0            9.0    4751.644444  ...
Imaging                        4.0           12.0  118247.737500  ...
Microlensing                   2.0            7.0    3153.571429  ...
Orbital Brightness Modulation  2.0            3.0       0.709307  ...
Pulsar Timing                  3.0            5.0    7343.021201  ...
Pulsation Timing Variations    1.0            1.0    1170.000000  ...
Radial Velocity                6.0          553.0     823.354680  ...
Transit                        7.0          397.0      21.102073  ...
Transit Timing Variations      3.0            3.0      79.783500  ...

                                distance            year               \
                                     75%      max  count         mean
method
Astrometry                       19.3225    20.77    2.0  2011.500000
Eclipse Timing Variations       500.0000   500.00    9.0  2010.000000
Imaging                         132.6975   165.00   38.0  2009.131579
Microlensing                   4747.5000  7720.00   23.0  2009.782609
Orbital Brightness Modulation  1180.0000  1180.00    3.0  2011.666667
Pulsar Timing                  1200.0000  1200.00    5.0  1998.400000
Pulsation Timing Variations          NaN      NaN    1.0  2007.000000
Radial Velocity                  59.2175   354.00  553.0  2007.518987
Transit                         650.0000  8500.00  397.0  2011.236776
Transit Timing Variations      1487.0000  2119.00    4.0  2012.500000

                                                                           \
                                    std     min      25%     50%      75%
method
Astrometry                     2.121320  2010.0  2010.75  2011.5  2012.25
Eclipse Timing Variations      1.414214  2008.0  2009.00  2010.0  2011.00
Imaging                        2.781901  2004.0  2008.00  2009.0  2011.00
Microlensing                   2.859697  2004.0  2008.00  2010.0  2012.00
Orbital Brightness Modulation  1.154701  2011.0  2011.00  2011.0  2012.00
Pulsar Timing                  8.384510  1992.0  1992.00  1994.0  2003.00
Pulsation Timing Variations         NaN  2007.0  2007.00  2007.0  2007.00
Radial Velocity                4.249052  1989.0  2005.00  2009.0  2011.00
Transit                        2.077867  2002.0  2010.00  2012.0  2013.00
Transit Timing Variations      1.290994  2011.0  2011.75  2012.5  2013.25


                                  max
method
Astrometry                     2013.0
Eclipse Timing Variations      2012.0
Imaging                        2013.0
Microlensing                   2013.0
Orbital Brightness Modulation  2013.0
Pulsar Timing                  2011.0
Pulsation Timing Variations    2007.0
Radial Velocity                2014.0
Transit                        2014.0
Transit Timing Variations      2014.0

[10 rows x 40 columns]

In [18]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000